@import url('https://fonts.googleapis.com/css?family=Fira+Sans');
body{
	margin-top: 70px;
	position: relative;
	font-family:"Fira Sans" ;
	text-decoration: none;

	
}
#wrapper { position: relative; }
#over_map { position: absolute; top: 10px; left: 10px; z-index: 99; }
.navbar-default{
	background: #fff;
	border:0;
	font-family: "Fira Sans";
}
.navbar-brand{
	font-family: "Fira Sans";
	font-size: 20px;
	color: #000 !important;
	font-weight: bold;
}

.panel-stas{
  border: 2px solid white;
  text-decoration: none;
  font-family: "Fira Sans";
  font-weight: bold;
  font-size: 25px;
  color: #fff;
  background-color: #F7A99E;
  border-radius: 0px;
  position: relative;
  margin-top: 320px;
 /* margin-right: 280px;*/

  	}
.ct-btn-scroll {
  width: 49px;
  height: 49px;
  position: absolute;
  bottom: 30px;
  left: 0;
  right: 0;
  margin: auto;
  /*padding-top: 600px;*/
  z-index: 9;
  border-radius: 50%;
  -webkit-transition: background-color 0.25s ease-in-out;
  transition: background-color 0.25s ease-in-out;
}
.scroll-a{

    -webkit-filter: invert(100%);
}

.full-of-ideas{
  display: block;
  width: 70%;
  max-width: 70%;	
  height: auto;
  padding-top:40px;
}
.about-bio{
	font-size: 15px;
}
.about-image{
	max-height: auto;
	max-width: auto;
	height: 125px;
	width: 125px;
}
.leer-ons-kennen{
padding-top: 100px;
color:white;	

}
.leer-ons-kennen img{
transform: rotate(-90deg);	
filter: brightness(0) invert(1);
max-height: 13px;
}


h1{
		font-family:"Fira Sans" ;
		color: black;
	}

#home{
		/*padding-top: 50px;*/
	min-height:700px;
	color: #fff;
	background-color: #F7A99E;
}

#about {
	padding-top:50px;
	min-height:600px;
	color: #FFFFFF;
	background-color: #000000 ;
	}
#corporate {
  	/*padding-top:50px;
    color: #fff;
  	background-color:#9B988D;*/
  }

.amanah{
	color:black;
	font-weight: bolder;
	max-width: 70%;

}
.amanah img{	

max-height: 60px;
color:black;
}
.amanah-link{
	font-family: "Fira Sans"
	font-weight:lighter;
	font-color:black !important;
}
#graphic {
  	padding-top:50px;
  	min-height:650px;
  	color: #fff; 
  	background-color: #ff9800;
  }
#film {
	padding-top:50px;
	min-height:650px;
	color: #fff; 
	background-color: #00bcd4;
}
#events {
	padding-top:50px;
	min-height:650px;
	color: #fff; 
	background-color: #009688;
}
#contact {
	padding-top:50px
	
	/*color: #fff;*/
	
  
}
.map-responsive{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}
.map-responsive iframe{
    left:0;
    top:0;
    height:90%;
    width:100%;
    position:absolute;
}
.card-map{
	padding-top: 20px;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 20px;	
			
	/*margin-left: 375px;*/
	background-color: #FFFFFF;
	border-radius:1px;
	border: 1px solid white; 	
	width:100%;
    height:auto;
    display: flex;
}
.btn-dark{
	min-width: 100px;
	background-color: black;
	color: white;
	border-radius: 1px;
	text-decoration: none;	
	opacity:1.0;
	box-shadow:none;
}
.btn-dark:hover{
color: #fff !important;
text-decoration: none;	
}
.half{
  outline: 0;
  border-width: 0 0 2px;
  border-top:none;
  border-left: none;
  border-right: none;
  border-radius: 0px;

}
.half:focus {
   border-color:black;
}
.space{
	margin-right: 10p	x;
}
.bxslider li {
  min-height: 100vh;
}
.bxslider li.one {
  background: url(https://images.unsplash.com/photo-1465205568425-23fdd3805e49?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=7e476dbc9096ec1c869bd2cb97d82c70) center center;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
}
.bxslider li.two {
  background: url(https://images.unsplash.com/photo-1464822759023-fed622ff2c3b?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=61282cfeed75871385c84c2a44a8e594) center center;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
}
.bxslider li.three {
  background: url(https://images.unsplash.com/photo-1463392898715-3939d4ab1019?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=da848bfb85b0ee6989e1c4bec6388ce4) center center;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
}

.bx-wrapper{
  left: 0;
  border: none;
  box-shadow: none;
}

.bx-viewport{
left: 0;
border: none;
box-shadow: none;
}

ul, ul li {
  margin: 0;
  padding: 0;
}