@import url('https://fonts.googleapis.com/css?family=Fira+Sans');

.navbar-default{
	background: #fff;
	border:0;
	font-family: "Fira Sans";
}
.navbar-brand{
	font-family: "Fira Sans";
	font-size: 20px;
	color: #000 !important;
	font-weight: bold;
}
p{
	font-family:"Fira Sans" ;
	color: black;
}

